.buttonback {
    position: absolute;

    right: 8px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background: -webkit-linear-gradient(90deg, #1cd8d2 10%, #93edc7 90%); /* Chrome 10+, Saf5.1+ */
    background: -moz-linear-gradient(90deg, #1cd8d2 10%, #93edc7 90%); /* FF3.6+ */
    background: -ms-linear-gradient(90deg, #1cd8d2 10%, #93edc7 90%); /* IE10 */
    background: -o-linear-gradient(90deg, #1cd8d2 10%, #93edc7 90%); /* Opera 11.10+ */
    background: linear-gradient(90deg, #1cd8d2 10%, #93edc7 90%); /* W3C */
    color: white;
    font-size: 16px;
    /* box-shadow: 0 1px 6px rgba(0,0,0,0.2); */
    cursor: pointer;
}
