.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/*mobile device */
@media only screen and (max-device-width: 380px) {
  .mobile_device_380px {
    display: block;
  }
  .desktop {
    display: none;
  }
}

/* if mobile device max width 480px */
@media only screen and (max-device-width: 480px) {
  .mobile_device_480px {
    display: block;
  }
  .desktop {
    display: none;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.list-group {
  max-height: 80%;
  margin-bottom: 0px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;

  position: absolute;
  top: 10%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  align-content: stretch;
  width: 100%;
}
.buttonDrawer {
}
.info-card {
  max-height: 300px;
}
.button-play {
  margin-top: 50px;
}
