:root {
    font-size: 16px;
}


/* Grid page with sidebar */

body {
    background: #ececec;
}

main {
    z-index: 0;
    margin-left: 6rem;
    transition: margin-left 0.5s;
    margin-right: 1rem;
}

body::-webkit-scrollbar {
    width: 0.3rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #61dafb, #6649b8);
}


/* Sidebar */

.navbarx {
    width: 5rem;
    height: 100%;
    position: fixed;
    background-color: #23232e;
    transition: width 500ms ease;
    z-index: 1;
    box-shadow: 0 2.4px 13.8px rgba(0, 0, 0, 0.088), 0 5.7px 33.3px rgba(0, 0, 0, 0.128), 0 10.8px 62.6px rgba(0, 0, 0, 0.157), 0 19.2px 111.7px rgba(0, 0, 0, 0.182), 0 35.9px 208.9px rgba(0, 0, 0, 0.206), 0 86px 500px rgba(0, 0, 0, 0.23);
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: #b6b6b6;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: 0.5s;
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: #141418;
    color: #ececec;
}

.link-text {
    display: none;
    min-width: 2rem;
    margin: 0 1rem;
}

.nav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
}

.navbarx:hover {
    width: 16rem;
}

.navbarx:hover~main {
    margin-left: 17rem;
}

.navbarx:hover .link-text {
    font-weight: bold;
    display: block;
}

.nav-link svg path {
    color: #df49a6;
}

.nav-logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: #ececec;
    background: #141418;
    font-size: 1rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.nav-logo svg {
    transform: rotate(0edg);
    transition: transform 1s;
}

.navbarx:hover .nav-logo svg {
    transform: rotate(-180deg);
}


/* Responsive SideBar */


/* large screen */

@media only screen and (min-width: 600px) {
    .navbarx {
        width: 5rem;
        height: 100vh;
        top: 0;
    }
    .navbarx:hover {
        width: 16rem;
    }
    .navbarx:hover .link-text {
        display: inline;
        transition: opacity 1s;
    }
}


/* Small screen */

@media only screen and (max-width: 600px) {
    .navbarx {
        width: 100vw;
        height: 5rem;
        bottom: 0;
        z-index: 1;
    }
    main {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-bottom: 6rem;
        z-index: 0;
    }
    .nav-logo {
        display: none;
    }
    .navbar-nav {
        flex-direction: row;
        overflow-x: auto;
        overflow-y: hidden;
    }
    .navbarx:hover {
        width: 100%;
    }
    .navbarx:hover~main {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-bottom: 6rem;
    }
    .navbarx:hover .link-text {
        display: none;
    }
    .nav-link {
        justify-content: center;
    }
    .dashboardCard {
        top: 0;
        width: calc(100% - 1rem) !important;
    }
}

.navbarx .navbar-nav .nav-item .is-active {
    filter: grayscale(0%) opacity(1);
    background: #141418;
    color: #ececec;
}

.navbarx .navbar-nav .nav-item .nav-link path {
    fill: transparent;
    stroke-width: 20;
    stroke: #df49a6;
}

.navbarx .navbar-nav .nav-item .nav-link.is-active path {
    stroke-dasharray: 1685;
    stroke-dashoffset: 1685;
    animation: animate-error 0.5s linear forwards;
}

.navbarx .navbar-nav .nav-item .nav-link.is-active {
    pointer-events: none;
}

@keyframes animate-error {
    0% {
        stroke-dashoffset: 0;
    }
    40% {
        stroke-dashoffset: -1685;
    }
    80% {
        stroke-dashoffset: -3370;
        fill: transparent;
    }
    100% {
        stroke-dashoffset: -3370;
        fill: #df49a6;
    }
}


/* transition change page */


/* simple - enter transition 300ms, exit 150ms */

.fade-appear,
.fade-enter {
    opacity: 0;
}

.fade-appear-active,
.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms;
}

.fade-exit {
    opacity: 0 !important;
}


/* Parent Card (Big Card) */

.MainCard {
    background: white;
    border-radius: 5px;
    align-items: center;
    animation: animationfade 1s forwards;
    box-shadow: 0px 20px 50px;
}

@keyframes animationfade {
    0% {
        opacity: 0;
        margin-top: 5rem;
    }
    100% {
        margin-top: 0;
        opacity: 1;
    }
}

.ContentMainCard {
    margin-top: 10px;
    overflow-x: auto;
    display: flex;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    align-items: center;
}

.ContentMainCard h1 {
    align-self: flex-start;
    margin: 10px;
    margin-right: 100px;
}

.active.modal-content {
    height: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    align-items: center;
    justify-content: center;
    padding: 1%;
}

.active.modal-content Form {
    list-style: none;
}

.active.modal-content Form li {
    padding-top: 10px;
}

.active.modal-content-parking {
    height: 70%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    align-items: center;
    justify-content: center;
    padding: 1%;
}

.active.modal-content-delete {
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    align-items: center;
    justify-content: center;
    padding: 1%;
}

.active.modal-content-delete .groupButton {
    display: flex;
    justify-content: flex-end;
}

.active.modal-content-delete .groupButton button {
    margin: 5px;
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.5s;
}

.active.modal-content-delete .groupButton button:nth-child(1) {
    background: rgb(241, 81, 81);
    border: 1px solid rgb(241, 81, 81);
}

.active.modal-content-delete .groupButton button:nth-child(1):hover {
    background: rgb(253, 0, 0);
    border: 1px solid black;
}

.active.modal-content-delete .groupButton button:nth-child(2) {
    background: rgb(81, 241, 116);
    border: 1px solid rgb(81, 241, 116);
}

.active.modal-content-delete .groupButton button:nth-child(2):hover {
    background: rgb(0, 255, 55);
    border: 1px solid black;
}


/* DashBoard */

span.apexcharts-legend-text {
    font-weight: bold !important;
}

.dashboardCard {
    display: grid;
    padding-top: 10px;
    height: auto;
    width: calc(100% - 7rem);
    position: absolute;
    background: #ffffff;
    z-index: 0;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-auto-flow: dense;
    grid-gap: 10px;
}

.dashboardCard .contentCard {
    border-radius: 5px;
    background: #f1f1f1;
    box-shadow: inset 5px 5px 10px #cdcdcd, inset -5px -5px 10px #ffffff;
    overflow: auto;
    transition: 0.5s;
    text-align: center;
}

.dashboardCard .contentCard h2 {
    padding-top: 10px;
}

.rs-list-hover .rs-list-item:hover {
    cursor: pointer;
}

.leaflet-container {
    height: 300px;
    width: 100%;
    cursor: pointer;
}