:root {
    font-size: 16px;
}


/* Grid page with sidebar */

body {
    background: #e9e9e9;
}

main {
    z-index: 0;
    margin-left: 6rem;
    transition: margin-left 0.2s;
}

body::-webkit-scrollbar {
    width: 0.3rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #61dafb, #6649b8);
}


/* Sidebar */

.navbarx {
    width: 5rem;
    height: 100%;
    position: fixed;
    background-color: #23232e;
    transition: width 200ms ease;
    z-index: 1;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: #b6b6b6;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: 0.5s;
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: #141418;
    color: #ececec
}

.link-text {
    display: none;
    min-width: 2rem;
    margin: 0 1rem;
}

.nav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
}

.navbarx:hover {
    width: 16rem;
}

.navbarx:hover~main {
    margin-left: 17rem;
}

.navbarx:hover .link-text {
    display: block;
}

.nav-link svg path {
    color: #df49a6;
}

.nav-logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: #ececec;
    background: #141418;
    font-size: 1rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.nav-logo svg {
    transform: rotate(0edg);
    transition: transform 0.3s;
}

.navbarx:hover .nav-logo svg {
    transform: rotate(-180deg);
}


/* Responsive SideBar */


/* large screen */

@media only screen and (min-width: 600px) {
    .navbarx {
        width: 5rem;
        height: 100vh;
        top: 0;
    }
    .navbarx:hover {
        width: 16rem;
    }
    .navbarx:hover .link-text {
        display: inline;
        transition: opacity 1s;
    }
}


/* Small screen */

@media only screen and (max-width: 600px) {
    .navbarx {
        width: 100vw;
        height: 5rem;
        bottom: 0;
        z-index: 1;
    }
    main {
        margin-left: 0;
        margin-bottom: 5rem;
        z-index: 0;
    }
    .nav-logo {
        display: none;
    }
    .navbar-nav {
        flex-direction: row;
    }
    .navbarx:hover {
        width: 100%;
    }
    .navbarx:hover~main {
        margin-left: 0;
    }
    .navbarx:hover .link-text {
        display: none;
    }
    .nav-link {
        justify-content: center;
    }
}

.navbarx .navbar-nav .nav-item .is-active {
    filter: grayscale(0%) opacity(1);
    background: #141418;
    color: #ececec
}

.navbarx .navbar-nav .nav-item .nav-link path {
    fill: transparent;
    stroke-width: 20;
    stroke: #df49a6;
}

.navbarx .navbar-nav .nav-item .nav-link.is-active path {
    stroke-dasharray: 1685;
    stroke-dashoffset: 1685;
    animation: animate-error 0.5s linear forwards;
}

.navbarx .navbar-nav .nav-item .nav-link.is-active {
    pointer-events: none;
}

@keyframes animate-error {
    0% {
        stroke-dashoffset: 0;
    }
    40% {
        stroke-dashoffset: -1685;
    }
    80% {
        stroke-dashoffset: -3370;
        fill: transparent;
    }
    100% {
        stroke-dashoffset: -3370;
        fill: #df49a6;
    }
}


/* transition change page */


/* simple - enter transition 300ms, exit 150ms */

.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms linear 150ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 150ms linear;
}