

  .fixedtop {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  
  .bginfo{
    background-color: transparent ;
    animation: changecolorNav linear 0.5s forwards;
    
  }
  
 span{
    color: white;
}

/* a{
  color: white;
} */

.DropdownItem{
  color: white;
}

.DropdownMenu{
  background-color:  black;
}

  @keyframes changecolorNav {
    0%
    {
      background-color: transparent;
     
    }
    100%
    {
      background-color: #3155AA;
      
    }
  }
  