/* css dung chung cho Register, Information, UpdateInfomation */

/* css Register */
.background {
    background: url("../components/Home/images/night light.jpg");
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
    width: 100%;
}


.background .fontcolor h1 {
    color: white;
    margin-top: 3%;
}

.background .fontcolor {
    margin-top: 5%;
    height: auto;
    width: 600px;
    overflow-y: auto;
    background: black;
    opacity: 0.75;
    /* text-align: center; */
}
.background .fontcolor .fontcolordetail {
    margin-bottom: 8%;
}

.background .fontcolor .fontcolordetail label {
    color: white;	
    margin-top: 30%;
    font-size: 80%;
}



/* css Information */
.backgroundinfo {
    background: url("../components/Home/images/night light.jpg");
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
    width: 100%;
}

.backgroundinfo .fontcolorinfo {
    color: white;
}

.backgroundinfo .fontcolorinfo label {
    margin-top: 25%;
}

.backgroundinfo .forminfo {
    background: black;
    opacity: 0.75;
}

.backgroundinfo .forminfo h1 {
    color: white;
    margin-top: 10%;
}

.backgroundinfo .forminfo button {
    width: 90%;
}




/* css UpdateInfo */
.backgroundUpdate {
    background: url("../components/Home/images/night light.jpg");
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
    width: 100%;
}


.backgroundUpdate .fontcolorUpdate label {
    color: white;
    margin-top: 25%;
    
}

.backgroundUpdate h1 {
    color: white;
    padding-top: 5%;
}


.backgroundUpdate .formUpdate {
    background: black;
    opacity: 0.75;
    
}

.backgroundUpdate .formUpdate .fontcolorUpdate button {
    /* width: 50%; */
}
