.search {
    position: fixed;
    right: 20px;
    width: auto;
    height: auto;
    z-index: 9998;
    top: 70px;
}

.search input {
    background-color: rgb(52, 116, 116);
    padding: 0.5rem;
    font-size: 2vh;
    width: 100%;
    z-index: 9998;
}

.search input::placeholder {
    color: rgb(202, 202, 202);
}

.listSearch {
    z-index: 9999 !important;
}

.listSearch li span {
    color: black;
}