.banner{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner video{
    position: absolute;
    top:0;
    left:0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.banner .content{
    position: relative;
    z-index: 1;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.banner .content h6{
    margin: 0;
    padding: 0;
    font-size: 4.25em;
    text-transform: uppercase;
    color: #ffffff;
}

.banner .content p{
    font-size: 1.25em;
    text-transform: uppercase;
    color: #ffffff;
}