.banner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.banner video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.banner .cover {
    content: '';
    background: #3f7959;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.banner .bannerRow {
    width: 100%;
}

.banner .content {
    position: relative;
    text-align: center;
}

.banner .colContentBanner {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translate(100px, 0);
    animation: fadeInImage 1s forwards linear;
    z-index: 9994;
}

.banner svg {
    position: absolute;
    align-self: flex-end;
    margin-top: 0;
    width: 100%;
    z-index: 9992;
}

.banner .content h6 {
    cursor: default;
    margin: 0;
    padding: 0;
    font-size: 7vh;
    text-transform: uppercase;
    color: #ffffff;
}

.banner .content p {
    cursor: default;
    font-size: 2vh;
    text-transform: uppercase;
    color: #ffffff;
}

.colMDB {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 500px;
    background: rgb(255, 255, 255);
    background-size: 0% 100%;
    padding: 20px;
    border-radius: 10px;
    transition: all 1s;
    border: 3px solid white;
}

.colMDB:hover {
    transform: translate(0, -10px);
    border-bottom: 3px solid rgb(52, 116, 116);
    border-right: 3px solid rgb(52, 116, 116);
    background-color: rgb(52, 116, 116);
    background-image: linear-gradient( to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.7) 100%);
    background-repeat: no-repeat;
    background-size: 200% 100%;
    box-shadow: 5px 5px 10px rgb(141, 141, 141);
}

.colMDB p {
    cursor: default;
    text-align: center;
}

.colMDB h3 {
    font-size: x-large;
    cursor: default;
    color: black;
    font-weight: bolder;
}

.rowMDB {
    display: flex;
    justify-content: space-around;
    margin: 50px;
    cursor: default;
    row-gap: 20px;
    column-gap: 50px;
}

.function {
    background: rgb(224, 224, 224);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.function h2 {
    color: #3f7959;
    margin: 50px 0;
    font-weight: bolder;
    background: white;
    padding: 10px;
    border-radius: 10px;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.colImagePhone {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phoneImg {
    width: 60vh;
    margin: 0;
    padding: 0;
    z-index: 9993;
    opacity: 0;
    transform: translate(-100px, 0);
    animation: fadeInImage 1s forwards linear;
}

@keyframes fadeInImage {
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@media screen and (max-width: 992px) {
    .phoneImg {
        width: 30vh;
        margin: 0;
        padding: 0;
        z-index: 9993;
    }
}

.profileMember {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 20px;
    margin: 0 20px;
}

.profileMember .cardBody {
    position: relative;
    width: 350px;
    margin: 0 auto;
    background: rgb(216, 216, 216);
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035), 0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
    overflow: hidden;
    border-radius: 2px;
}

.profileMember .cardBody .layerBody {
    position: absolute;
    top: calc(100% - 2px);
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(#03a9f4, #35b64f);
    z-index: 1;
    transition: 0.5s;
}

.profileMember .cardBody:hover .layerBody {
    top: 0;
}

.profileMember .cardBody .contentCardBody {
    position: relative;
    z-index: 2;
}

.profileMember .cardBody .contentCardBody p {
    font-size: 18px;
    line-height: 24px;
}

.profileMember .cardBody .contentCardBody .imageCardBody {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid black;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035), 0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
}

.profileMember .cardBody .contentCardBody .detailsBody h2 {
    margin-top: 10px;
    font-size: 18px;
}

.profileMember .cardBody .contentCardBody .detailsBody h2 span {
    color: #03a9f4;
    font-size: 14px;
    transition: 0.5s;
}

.profileMember .cardBody:hover .contentCardBody .detailsBody h2 span {
    color: #ffffff;
}

.contact-info {
    display: flex;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.cardB {
    background: #2f3542;
    padding: 0 20px;
    margin: 0 10px;
    width: calc(33% - 20px);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
    border-radius: 2px;
    transition: all 0.3s linear;
}

.cardB:hover {
    background: #35b64f;
}

.card-icon {
    font-size: 28px;
    background: #35b64f;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px !important;
    border-radius: 50%;
    transition: 0.3s linear;
}

.cardB:hover .card-icon {
    background: none;
    color: #000000;
    transform: scale(1.6);
}

.cardB p {
    margin-top: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    max-height: 0;
    opacity: 0;
    transition: 0.3s linear;
}

.cardB:hover p {
    max-height: 40px;
    opacity: 1;
}

@media screen and (max-width: 800px) {
    .contact-info {
        flex-direction: column;
    }
    .cardB {
        width: 100%;
        max-width: 300px;
        margin: 10px 0;
    }
    .banner svg {
        width: 0px;
    }
}

.contactUs {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}