ul.pagination {
    margin-top: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

ul.pagination li {
    background: #fff;
}

ul.pagination li:first-child {
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
}

ul.pagination li:last-child {
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
}

ul.pagination li a {
    display: block;
    text-decoration: none;
    color: #777777;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px;
    font-weight: 600;
    border-radius: 50%;
}

ul.pagination li.disabled {
    pointer-events: none;
}

ul.pagination li.disabled a {
    color: rgb(192, 190, 190);
    pointer-events: none;
}

ul.pagination li.active a {
    background: #000000;
    color: #fff;
}

ul.pagination li:hover~a {
    cursor: pointer;
}

ul.pagination li a:hover {
    color: rgb(88, 87, 87);
    animation: changecolor 0.5s forwards;
}

@keyframes changecolor {
    0% {
        background: #ffffff;
    }
    100% {
        background: #5a5a5a;
    }
}

@media (max-width: 991px) {
    ul.pagination li a {
        margin: 0.5vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
        padding-left: 1vw;
        padding-right: 1vw;
    }
}