.section404 {
    background: linear-gradient(45deg, #396eff, #ffffff);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}

#container404 {
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('p404.png'), #151729;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, .5);
}

#container404 .content404 {
    max-width: 600px;
    text-align: center;
}

#container404 .content404 .h2404 {
    font-size: 18vw;
    color: #fff;
    line-height: 1em;
}

#container404 .content404 .h4404 {
    position: relative;
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #111;
    background: #fff;
    font-weight: 300;
    padding: 10px 20px;
    display: inline-block;
}

#container404 .content404 .p404 {
    color: #fff;
    font-size: 1.2em;
}

#container404 .content404 .a404 {
    position: relative;
    display: inline-block;
    padding: 10px 25px;
    background: #ff0562;
    color: #fff;
    text-decoration: none;
    margin-top: 25px;
    border-radius: 25px;
    border-bottom: 4px solid #d00d56;
}